footer {
    background-image: url(/assets/imagens/amo-santos.png);
    background-position: center;
    background-size: cover;
    height: 80vh;
}

footer .contatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    gap: 1rem;
    color: #fff;
}
.contatos h2{
    font-size: 3rem;
    font-weight: 800;
}
.contatos p{
    font-size: 1.5rem;
    font-weight: 700;
}
.contatos a {
    background-color: #fff;
    padding: 0.5rem 0.5rem;
    border-radius: 1rem;
}
@media screen and (min-width: 300px) and (max-width: 600px){
    footer {
        margin-top: 2rem;
    }
    .contatos h2{
        font-size: 2rem;
    }
    .contatos p{
        font-size: 1rem;
    }
}
@media screen and (min-width: 1251px) and (max-width: 2000px) {
    footer {
        margin-top: 2rem;
    }
}